<h2>Sign Up</h2>

<section = 'form-section'>
  <form action= '<%= users_url %>' method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Email
      <input type="text" name="user[email]">
    </label><br>

    <label>password
      <input type="password" name="user[password]" >
    </label><br><br>

    <input type="submit" value="Create Account">
  </form>
</section>
