<h2>Create A Band Here!</h2>

<section class = 'form-section'>
  <form action="/bands" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Band Name
      <input type="text" name="band[name]">
    </label>

    <input type="submit" value="Make A Band">
  </form>
</section>
