<h2>Edit a Track</h2>

<section class = 'form-section'>
  <form action= '<%= track_url(@track) %>' method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Title
      <input type="text" name="track[title]" value='<%= @track.title %>'>
    </label>

    <label>Album
      <select name="track[album_id]">
        <% @albums.each do |album| %>
          <option value= '<%= album.id %>' <%= @track.album_id == album.id ? "selected" : "" %> > <%= album.title %> </option>
        <% end %>
      </select>
    </label>

    <label>Track Type
      <input type="radio" name="track[bonus]" value = "1" <%= @track.bonus ? 'checked' : '' %> > Bonus
      <input type="radio" name="track[bonus]"  value= '0' <%= @track.bonus ? '' : 'checked' %> > Regular
    </label>

    <label>Track Number
      <input type="number" name="track[ord]" value = '<%= @track.ord %>'>
    </label>

    <label>Lyrics
      <textarea name="track[lyrics]"><%= @track.lyrics %></textarea>
    </label></br></br>

    <input type="submit" value="Edit Track">

  </form>

</section>
