<h2>Add a Track</h2>

<section class = 'form-section'>
  <form action="/tracks" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Title
      <input type="text" name="track[title]">
    </label>

    <label>Album
      <select name="track[album_id]">
        <% @albums.each do |album| %>
          <option value= '<%= album.id %>' <%= album.id.to_s == params[:album_id] ? "selected" : "" %>    > <%= album.title %> </option>
        <% end %>
      </select>
    </label>

    <label>Track Type
      <input type="radio" name="track[bonus]" value = "1"> Bonus
      <input type="radio" name="track[bonus]"  value= '0' checked> Regular
    </label>

    <label>Track Number
      <input type="number" name="track[ord]" value = '1'>
    </label>

    <label>Lyrics
      <textarea name="track[lyrics]"></textarea>
    </label></br></br>

    <input type="submit" value="Add Track">

  </form>

</section>
